<h3>Disciplinas Cadastradas</h3>

<p>
   <%= link_to t("nav.link.disciplines.register"), new_discipline_path %>
</p>

<% unless @disciplines.empty? %>
   <table class="table">
      <tr>
         <th>Nome</th>
         <th></th>
      </tr>

      <% @disciplines.each do |discipline| %>
         <tr>
            <td><%= discipline.name %></td>
            <td><%= link_to(t("helpers.link.discipline.edit"), edit_discipline_path(discipline))%></td>
         </tr>
      <% end %>
   </table>
<% else %>
   Nenhum registro!
<% end %>
<p>
   <%= paginate @disciplines, :size => 10 %>
</p>
