<h2>Disciplinas Cadastradas</h2>

<p>
   <%= link_to t("nav.link.disciplines.register"), new_discipline_path %>
</p>

<table class="table">
   <tr>
      <th>Nome</th>
      <th></th>
   </tr>

   <% @disciplines.each do |discipline| %>
      <tr>
         <td><%= discipline.name %></td>
         <td><%= link_to(t("helpers.link.discipline.edit"), edit_discipline_path(discipline))%></td>
      </tr>
   <% end %>
</table>

<p>
   <%= paginate @disciplines, :size => 4 %>
</p>
