<h3>Alunos Cadastrados</h3>

<p>
   <%= link_to t("nav.link.students.register"), new_student_path %>
</p>

<table class="table">
   <tr>
      <th>Nome</th>
      <th></th>
   </tr>

   <% @students.each do |student| %>
      <tr>
         <td><%= student.name %></td>
         <td><%= link_to(t("helpers.link.student.edit"), edit_student_path(student))%></td>
      </tr>
   <% end %>
</table>

<p>
   <%= paginate @students, :size => 4 %>
</p>



