<!DOCTYPE html>
<html>
   <head>
      <meta content="text/html"; charset="UTF-8" http-equiv="Content-Type" />
   </head>

   <body>
      Bem vindo(a) <%= "#{@matriculando.name}" %>, você foi matrículado(a) com sucesso.<br />

      att,

      <p>
         Equipe Escolinha Rails.
      </p>
      
   </body>

</html>