h1, h2, h3, h4, h5, h6 { line-height: 1.1; color:#191817; border-bottom:3px solid; padding-top: 50px;}

body{
   font: 16px/1.5 "Lucida Grande",
                  Verdana, sans-serif;
   background: #466075;
   color: #FFF;
}

p{ color: #FFF; text-align: justify; padding: 5px;}

#menu ul {
   padding:0px;
   margin:0px;
   float: left;
   width: 100%;
   background-color:#182128;
   list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
   padding: 2px 10px;
   float:left;
   /* visual do link */
   background-color:#182128;
   color: #749FC1;
   text-decoration: none;
   border-bottom:3px solid #182128;
}

#menu ul li a:hover {
   background-color:#3B3F42;
   color: #696F75;
   border-bottom:3px solid #696F75;
}

.box{
   background: #696F75;
   padding: 3px;
}

a{
   color: #182128;
   padding: 2px;
   text-decoration: none;
}

a:hover{
   text-decoration: none;  
   border-bottom: 1px solid;
}

dl.error-messages{
   background: #440000;
   color:#8C5332;
}


dl.error-messages dd{
   font-size: 12px;
   padding-bottom: 2px;
}

dl.error-messages dt{
   padding-left: 5px;
}

p.notice{
   background: #025951;
   color: #fff;
}

.table{
   float: left;
   width: 100%;
}

.table tr{
   border-bottom: 1px solid;
}

