<%= simple_form_for @teacher do |f| %>

   <%= render "shared/error_messages", :record => @teacher %>

   <p>      
      <%= f.input :name, requered: true %>
   </p>

   <p>
      <%= f.button :submit %>
   </p>
<% end %>