<% if @teacher.has_picture %>
   <%= image_tag(@teacher.thumb_url) %>
<% else %>   
   <%= link_to(t("helpers.link.teacher.picture"), edit_teacher_path(@teacher)) %>
<% end %>   

<h2>
   <%= @teacher.name %>
</h2>

