<%= simple_form_for @course do |f| %>

   <%= render "shared/error_messages", :record => @course %>

   <p>      
      <%= f.input :name %>
   </p>

   <p>
      <%= f.button :submit %>
   </p>
   
<% end %>